.item_schedule {
    margin-right: 10px;
}

.item_description {
    margin: 15px;
    padding-bottom: 20px;
}

.td-expansion-panel.td-expanded .td-expansion-panel-header {
    border-bottom: 2px solid #ffc107 !important;
}

.button-container {
    text-align: right;
}