@import "~_variables.scss";

:host:hover {
  cursor: pointer;
}

.item-background {
  padding-top: 400px;
  position: relative;
}

.item-description {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 3%;
  z-index: 2;
}

.text-background {
  position: absolute;
  width: 165%;
  top: 40%;
  left: -110%;
  background-color: rgba(204, 204, 204, 0.4);
  height: 150%;
  transform: rotate(140deg);
}

/* MATERIAL OVERWRITES */
mat-card {
  overflow: hidden;
  margin: 20px;
}
