<div class="buttons-container">
  <h2>Administrar:</h2>
  <button md-raised-button
          (click)="formSection = 'events'"
          [ngClass]="{ 'active': formSection === 'events' }"
          class="round-button">
          EVENTS
  </button>
  <button md-raised-button
          (click)="formSection = 'news'"
          [ngClass]="{ 'active': formSection === 'news' }"
          class="round-button">
          NEWS
  </button>
  <button md-raised-button
          (click)="formSection = 'jobs'"
          [ngClass]="{ 'active': formSection === 'jobs' }"
          class="round-button">
          JOBS
  </button>
  <button md-raised-button
          *ngIf="(user$ | async)?.role === 'admin'"
          (click)="formSection = 'users'"
          [ngClass]="{ 'active': formSection === 'users' }"
          class="round-button">
          USERS
  </button>
</div>

<md-card *ngIf="formSection === 'events'">
  <table td-data-table>
    <th td-data-table-column
        *ngFor="let column of eventsTableColumns">
        {{ column.label }}
    </th>
    <th td-data-table-column></th>
    <th td-data-table-column></th>
    <tr td-data-table-row *ngFor="let event of events | async">
      <td td-data-table-cell>
        {{ event?.title }}
      </td>
      <td td-data-table-cell>
        {{ event?.description | truncate: 30 }}
      </td>
      <td td-data-table-cell>
        {{ event?.date | date:'fullDate'}}
      </td>
      <td td-data-table-cell>
        {{ event?.time }}
      </td>
      <td td-data-table-cell>
        {{ event?.image?.title  | truncate: 30 }}
      </td>
      <td td-data-table-cell (click)="openEditDialog(event, formSection)">
        <button md-icon-button color="primary">
          <md-icon>edit</md-icon>
        </button>
      </td>
      <td td-data-table-cell (click)="openNotifyDialog(event, formSection)">
        <button md-icon-button color="primary">
          <md-icon>delete</md-icon>
        </button>
      </td>
    </tr>
  </table>
</md-card>

<md-card *ngIf="formSection === 'news'">
  <table td-data-table>
    <th td-data-table-column
        *ngFor="let column of newsTableColumns">
        {{ column.label }}
    </th>
    <th td-data-table-column></th>
    <th td-data-table-column></th>
    <tr td-data-table-row *ngFor="let new of news | async">
      <td td-data-table-cell>
        {{ new.title }}
      </td>
      <td td-data-table-cell>
        {{ new.description | truncate: 30 }}
      </td>
      <td td-data-table-cell>
        {{ new.date | date:'fullDate' }}
      </td>
      <td td-data-table-cell>
        {{ new.time }}
      </td>
      <td td-data-table-cell>
        {{ new.image  | truncate: 30 }}
      </td>
      <td td-data-table-cell (click)="openEditDialog(new, formSection)">
        <button md-icon-button color="primary">
          <md-icon>edit</md-icon>
        </button>
      </td>
      <td td-data-table-cell (click)="openNotifyDialog(new, formSection)">
        <button md-icon-button color="primary">
          <md-icon>delete</md-icon>
        </button>
      </td>
    </tr>
  </table>
</md-card>

<md-card *ngIf="formSection === 'jobs'">
  <table td-data-table>
    <th td-data-table-column
        *ngFor="let column of jobsTableColumns">
        {{ column.label }}
    </th>
    <th td-data-table-column></th>
    <th td-data-table-column></th>
    <tr td-data-table-row *ngFor="let job of jobs | async">
      <td td-data-table-cell>
        {{ job.title }}
      </td>
      <td td-data-table-cell>
        {{ job.description | truncate: 30 }}
      </td>
      <td td-data-table-cell>
        {{ job.date | date:'fullDate' }}
      </td>
      <td td-data-table-cell>
        {{ job.time }}
      </td>
      <td td-data-table-cell>
        {{ job.image  | truncate: 30 }}
      </td>
      <td td-data-table-cell (click)="openEditDialog(job, formSection)">
        <button md-icon-button color="primary">
          <md-icon>edit</md-icon>
        </button>
      </td>
      <td td-data-table-cell (click)="openNotifyDialog(job, formSection)">
        <button md-icon-button color="primary">
          <md-icon>delete</md-icon>
        </button>
      </td>
    </tr>
  </table>
</md-card>

<md-card *ngIf="formSection === 'users'">
    <table td-data-table>
      <th td-data-table-column>
        <md-icon class="person_pin">person_pin</md-icon>
      </th>
      <th td-data-table-column>
          Name
      </th>
      <th td-data-table-column>
          Role
      </th>
      <th td-data-table-column>
      </th>
      <th td-data-table-column>
      </th>
      <tr td-data-table-row *ngFor="let user of users | async">
        <td td-data-table-cell>
            <div [ngStyle]="{ 'background-image': 'url(' + user.photoURL + ')', 'background-size': 'cover'}"
                 class="profile_image">
            </div>
        </td>
        <td td-data-table-cell>
            {{ user.displayName }}
        </td>
        <td td-data-table-cell>
          <md-select [(ngModel)]="user.role"
                     (change)="onRoleChange(user)"
                     floatPlaceholder="never"
                     name="role"
                     placeholder="Select Role">
              <md-option [value]="'user'">user</md-option>
              <md-option [value]="'admin'">admin</md-option>
          </md-select>
        </td>
        <td td-data-table-cell>
        </td>
        <td td-data-table-cell (click)="openNotifyDialog(user, formSection)">
          <button md-icon-button color="primary">
            <md-icon>delete</md-icon>
          </button>
        </td>
      </tr>
    </table>
  </md-card>

<div class="add-button">
  <button md-fab
          (click)="openEditDialog('', formSection)"
          color="accent">
    <md-icon>add</md-icon>
  </button>
</div>
