<!-- TODO: Remove this -->
<!-- <div>
  <p>{{ 'hola' | uppercaser}}</p>
</div> -->

<div fxLayoutWrap>
  <div fxFlex="100">
    <div *ngIf="selectedEvent" class="slider-container" @fade>
      <div class="circle-button-left">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <mat-icon (click)="prevEvent()">
            arrow_back
          </mat-icon>
      </div>
      <div class="circle-button-right">
          <div class="circle1"></div>
          <div class="circle2"></div>
          <mat-icon (click)="nextEvent()">
            arrow_forward
          </mat-icon>
      </div>
      <mat-card [@fade]="selectedEvent.title"
                routerLink="/agenda/{{ selectedEvent?.id }}"
                [ngStyle]="{ 'background-image': 'url(' + selectedEvent.image.url + ')',
                            'background-size': 'cover',
                            'background-repeat': 'no-repeat',
                            'background-position': 'center center' }">
        <div class="item-background">
          <div class="item-description">
            <mat-card-title>
              <h4>{{ selectedEvent.title }}</h4>
            </mat-card-title>
            <mat-card-subtitle>
              <p>{{ selectedEvent.date | date:'EE, d/MM/y' }},  {{ selectedEvent.time }}h</p>
            </mat-card-subtitle>
            <mat-card-content>
              <p>{{ selectedEvent.description | truncate: 120 }}</p>
            </mat-card-content>
          </div>
          <div class="text-background2"></div>
          <div class="text-background"></div>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxFlex.lt-md="100"
       fxFlex.gt-sm="50"
       class="item-container">
    <app-card [item]="selectedNew"
              routerLink="/news/{{ selectedEvent?.id }}">
    </app-card>
  </div>
  <div fxFlex.lt-md="100"
       fxFlex.gt-sm="50"
       class="item-container">
    <app-card [item]="selectedJob"
              routerLink="/jobs/{{ selectedEvent?.id }}">
    </app-card>
  </div>
</div>
