<app-header (onMenuClick)="sidenav.toggle();"></app-header>
<mat-sidenav-container>
    <mat-progress-bar class="example-margin"
                     [mode]="'indeterminate'"
                     *ngIf="loading$ | async">
    </mat-progress-bar>
  <mat-sidenav #sidenav mode="push">
    <mat-nav-list>
      <mat-list-item routerLinkActive="active">
        <mat-icon>date_range</mat-icon>
              <a mat-line routerLink="/agenda"
                  routerLinkActiveOptions="{ exact: true }"
                  (click)="sidenav.toggle();">
                  <p>AGENDA</p>
              </a>
          </mat-list-item>
          <mat-list-item routerLinkActive="active">
              <mat-icon>new_releases</mat-icon>
              <a mat-line routerLink="/news"
                  routerLinkActiveOptions="{ exact: true }"
                  (click)="sidenav.toggle();">
                  <p>NEWS</p>
              </a>
          </mat-list-item>
          <mat-list-item routerLinkActive="active">
              <mat-icon>work</mat-icon>
              <a mat-line routerLink="/jobs"
                  routerLinkActiveOptions="{ exact: true }"
                  (click)="sidenav.toggle();">
                  <p>JOBS</p>
              </a>
          </mat-list-item>
          <mat-list-item routerLinkActive="active">
              <mat-icon>settings</mat-icon>
              <a mat-line routerLink="/admin"
                  routerLinkActiveOptions="{ exact: true }"
                  (click)="sidenav.toggle();">
                  <p>ADMIN</p>
              </a>
          </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
  <div class="background">
      <div class="highlight"></div>
  </div>
  <div layout="column" class="container">
      <router-outlet></router-outlet>
  </div>
  <!-- <app-footer></app-footer> -->
</mat-sidenav-container>






