<!-- HEADER -->
<mat-toolbar color="accent">
  <mat-icon (click)="emitToggle();">menu</mat-icon>
  <a routerLink="/home">
    <h1 class="customFont">
        Mallorca JS
    </h1>
  </a>
  <div class="login-section"
       (mouseenter)="showLogin = true"
       (mouseleave)="showLogin = false">
    <div class="login-button"
         *ngIf="!(user$ | async)?.displayName">
         <p>LogIn</p>
    </div>
    <div class="user-data"
         *ngIf="(user$ | async)?.displayName">
        <div class="username"
             fxHide.lt-sm>
          <p>{{ (user$ | async)?.displayName | truncate: 10}}</p>
        </div>
        <div [ngStyle]="{ 'background-image': 'url(' + (user$ | async).photoURL + ')', 'background-size': 'cover'}"
             class="profile-image">
        </div>
    </div>
    <app-login-menu [show]="showLogin" (logged)="showLogin = false"></app-login-menu>
  </div>
  <div class="circle-button">
      <div class="circle1"></div>
      <div class="circle2"></div>
  </div>
  <!-- <div class="circle"></div>
  <div class="circle2"></div> -->
</mat-toolbar>
