<md-progress-bar color="accent"
                 mode="indeterminate"
                 *ngIf="uploading">
</md-progress-bar>
<div class="editDialog">
  <h4 md-dialog-title>{{ data.section | uppercase }} EDITOR</h4>
  <div md-dialog-content>
    <div layout="column" class="container">
        <form [formGroup]="editForm">
          <div layout="row" class="first-line" layout-margin>
            <div flex>
              <md-input-container>
                <input mdInput
                      formControlName="date"
                      type="date"
                      placeholder="Date">
              </md-input-container>
            </div>
            <div flex>
              <md-input-container>
                <input mdInput
                      formControlName="time"
                      type="time"
                      placeholder="Hour">
              </md-input-container>
            </div>
          </div>
          <div layout="row" layout-margin>
            <md-input-container>
              <input mdInput
                    formControlName="title"
                    type="text"
                    placeholder="Title">
            </md-input-container>
          </div>
          <div layout="row" layout-margin>
            <md-input-container>
              <textarea mdInput
                        formControlName="description"
                        type="text"
                        placeholder="Descripción">
              </textarea>
            </md-input-container>
          </div>
          <div formArrayName="speakers">
            <p class="block">Speakers</p>
            <button md-icon-button
                    (click)="addSpeaker();"
                    class="md-24"
                    aria-label="Add order"
                    color="accent">
              <md-icon>add</md-icon>
            </button>
            <div *ngFor="let speaker of speakers.controls; let i = index"
                [formGroupName]="i"
                layout="row" layout-margin>
                <div flex>
                  <md-input-container>
                    <input mdInput
                          formControlName="name"
                          type="text"
                          size="20"
                          placeholder="Name">
                    </md-input-container>
                </div>
                <div flex>
                  <md-input-container>
                    <input mdInput
                           formControlName="contact"
                           type="text"
                           size="20"
                           placeholder="Contact">
                  </md-input-container>
                </div>
                <button md-icon-button
                        (click)="removeSpeaker(i)"
                        color="primary"
                        type="button"
                        *ngIf="speakers.controls.length > 1">
                        <md-icon>delete</md-icon>
                </button>
            </div>
          </div>
          <div layout="row" layout-margin>
            <app-input-file formControlName="image" *ngIf="!image">
            </app-input-file>
            <div class="upload" *ngIf="image">
              <div [ngStyle]="{ 'background-image': 'url(' + image?.url + ')',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': 'center center'
                              }"
                    class="upload-image">
              </div>
              <p><strong>{{ image?.title | uppercase }}</strong> ({{ image?.size / 1000 }}kb)</p>
              <button md-icon-button
                      (click)="deleteFile()"
                      color="primary">
                <md-icon class="md-24" aria-label="delete">delete</md-icon>
              </button>
            </div>
            <!-- <div *ngIf="!image && !uploading">
              <label for="image-input"
                      class="image-input">
                <md-icon class="md-12"
                          aria-label="delete"
                          color="primary">
                          add_a_photo
                </md-icon>
                <p>Choose Image</p>
              </label>
              <input formControlName="image"
                     id="image-input"
                     type="file"
                     (change)="detectFiles($event)"
                     placeholder="Image">
            </div>
            <div class="upload" #uploadBar>
                <div *ngIf="image || uploading">
                  <div [ngStyle]="{ 'background-image': 'url(' + image?.url + ')',
                                    'background-size': 'cover',
                                    'background-repeat': 'no-repeat',
                                    'background-position': 'center center'
                                  }"
                        class="upload-image">
                  </div>
                  <p><strong>{{ image?.title | uppercase }}</strong> ({{ image?.size / 1000 }}kb)</p>
                  <button md-icon-button
                          (click)="deleteFile(data.section, image?.title);"
                          color="primary">
                    <md-icon class="md-24" aria-label="delete">delete</md-icon>
                  </button>
                </div>
            </div> -->
          </div>
        </form>
    </div>
  </div>
  <div layout="row">
      <div md-dialog-actions>
        <!-- RETURN THE FORMRESULT WHEN THE DIALOG IS CLOSED -->
        <!-- <button md-raised-button
                (click)="deletePendentImages()"
                [md-dialog-close]="editForm.value"
                [disabled]="editForm.invalid"
                color="accent"> -->
        <button md-raised-button
                (click)="processDialogResult(editForm.value)"
                [disabled]="editForm.invalid"
                color="accent">
                  <md-icon>save</md-icon>
                  Salvar
        </button>
        <button md-raised-button
                md-dialog-close
                color="warn">
                  <md-icon>close</md-icon>
                  Close
        </button>
      </div>
  </div>
</div>
