<mat-progress-bar color="accent"
                 mode="indeterminate"
                 *ngIf="uploading">
</mat-progress-bar>
<div class="editDialog">
  <h4 mat-dialog-title>{{ data.section | uppercase }} EDITOR</h4>
  <div mat-dialog-content>
    <div fxLayout="column"
         class="container">
        <form [formGroup]="editForm">
          <div fxLayout="row">
            <div fxFlex="50">
              <mat-input-container>
                <input matInput
                      formControlName="date"
                      type="date"
                      placeholder="Date">
              </mat-input-container>
            </div>
            <div fxFlex="50">
              <mat-input-container>
                <input matInput
                      formControlName="time"
                      type="time"
                      placeholder="Hour">
              </mat-input-container>
            </div>
          </div>
          <div fxLayout="row">
            <mat-input-container>
              <input matInput
                    formControlName="title"
                    type="text"
                    placeholder="Title">
            </mat-input-container>
          </div>
          <div fxLayout="row">
            <mat-input-container>
              <textarea matInput
                        formControlName="description"
                        type="text"
                        placeholder="Descripción">
              </textarea>
            </mat-input-container>
          </div>
          <div fxLayout="row">
            <p class="block">Speakers</p>
            <button mat-icon-button
                    (click)="addSpeaker();"
                    class="mat-24"
                    aria-label="Add order"
                    color="accent">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div formArrayName="speakers">
            <div *ngFor="let speaker of speakers.controls; let i = index"
                [formGroupName]="i"
                fxLayout="row">
                <div fxFlex="47">
                  <mat-input-container>
                    <input matInput
                          formControlName="name"
                          type="text"
                          size="20"
                          placeholder="Name">
                    </mat-input-container>
                </div>
                <div fxFlex="47">
                  <mat-input-container>
                    <input matInput
                           formControlName="contact"
                           type="text"
                           size="20"
                           placeholder="Contact">
                  </mat-input-container>
                </div>
                <div fxFlex="6">
                  <button mat-icon-button
                          (click)="removeSpeaker(i)"
                          color="primary"
                          type="button"
                          *ngIf="speakers.controls.length > 1">
                          <mat-icon>delete</mat-icon>
                  </button>
                </div>
            </div>
          </div>
          <div fxLayout="row">
            <app-input-file formControlName="image" *ngIf="!image">
            </app-input-file>
            <div class="upload" *ngIf="image">
              <div [ngStyle]="{ 'background-image': 'url(' + image?.url + ')',
                                'background-size': 'cover',
                                'background-repeat': 'no-repeat',
                                'background-position': 'center center'
                              }"
                    class="upload-image">
              </div>
              <p><strong>{{ image?.title | truncate: 20 | uppercase }}</strong> <span>({{ image?.size / 1000 }}kb)</span></p>
              <button mat-icon-button
                      (click)="deleteFile()"
                      color="primary">
                <mat-icon class="mat-24" aria-label="delete">delete</mat-icon>
              </button>
            </div>
          </div>
        </form>
    </div>
  </div>
  <div fxLayout="row">
      <div mat-dialog-actions>
        <!-- RETURN THE FORMRESULT WHEN THE DIALOG IS CLOSED -->
        <button mat-raised-button
                (click)="processDialogResult(editForm.value)"
                [disabled]="editForm.invalid"
                color="accent">
                  <mat-icon>save</mat-icon>
                  Salvar
        </button>
        <button mat-raised-button
                mat-dialog-close
                color="warn">
                  <mat-icon>close</mat-icon>
                  Close
        </button>
      </div>
  </div>
</div>
