<div *ngIf="selectedEvent"
     @fade
     [@selected]="selectedEvent.id"
     class="selected-item">
  <mat-card>
    <div [ngStyle]="{ 'background-image': 'url(' + selectedEvent?.image?.url + ')',
                      'background-size': 'cover',
                      'background-repeat': 'no-repeat',
                      'background-position': 'center center' }"
                      class="event-image"></div>
  </mat-card>
  <div class="item-description">
    <h1>{{ selectedEvent?.title | uppercase }}</h1>
    <h4>{{ selectedEvent?.date | date:'EE, d/MM/y' }},  {{ selectedEvent?.time }}h</h4>
    <p>{{ selectedEvent.description }}</p>
  </div>
</div>
<div class="cards-container">
  <div fxLayoutWrap>
    <div *ngFor="let event of events | async"
         @EnterUp
         fxFlex="100"
         fxFlex.gt-sm="50">
         <app-card [item]="event"
                   routerLink="/agenda/{{ event?.id }}"
                   (click)="scrollUp()">
         </app-card>
    </div>
  </div>
</div>
